@page
@model SnackisWebApp.Pages.Admin.UserRoleManagerModel
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="text-center">
    <p class="display-4">Användarroller</p>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Efternamn</th>
                <th>Email</th>
                <th>Roller</th>
                <th>Hantering</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.userRoles)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(" , ", user.Roles.ToList())</td>
                    <td>
                        <a class="btn btn-primary" asp-page="ManageUserRoles" asp-route-userId="@user.UserId">Hantera roller</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

